<div class="container">
  <h1 class="text-center">
    Mechanics
  </h1>
  <div>
    <h2>Reasonings</h2>
    <p>
      My main motivation for making this world was to create a world that I can truly call my own. It is not my first
      attempt at it, but it is the one I've spent the most effort at. It was made to play Dungeons and Dragons Fifth
      Edition, so it has not been my intention to make a world that is highly conflicting with the ruleset that I enjoy
      to play. I've made a world that is not traditionally D&D like, but mechanically there should be few changes, at
      least when it comes to races and classes. The major changes are in relation to the world, how the different
      races interact and how the classes get their powers, but it's all nearly all flavour and fluff. In general; if
      something wouldn't make sense with the world I have made, I will find a way for it to make sense!
    </p>
    <h3>In short:</h3>
    <p>
      Races allowed: From PHB, all except for half elf. From Volo, Aasimar, Firbolg, Goliath, Kenku, Lizardfolk, Tabaxi,
      Orc, Kobold.
      Subraces allowed: All except for winged subraces and deep gnomes.
      Classes: All allowed, just keep in mind how your character got their power, especially in regards to magic.
      Feats: All allowed
      Multiclassing: Allowed
      Backgrounds: All allowed
      Alignments: All allowed, just make sure that your character is able to work in a team with others without
      intentionally messing up for them.
    </p>
    <h2>Races</h2>
    <p>
      D&D is very diverse in terms of the races that you can play. It has not been my intention to remove races for the
      sake of removing them, but there are some races that I have not allowed to be used by players. Races that get
      innate magic will instead learn this magic from harnessing crystals made for them. How the players want to flavour
      these crystals and how they acquired this is up to them. In the following list I will explain the different
      races, starting with the Player's Handbook races and then the Volo races:
    </p>

    <ul>
      <h3>Player's Handbook</h3>
      <li>
        Dwarves.
        <br>
        Dwarves is one of the major races in this region of the world and all subraces are allowed.
      </li>
      <li>
        Elves
        <br>
        The elves are nearly extinct and would be a pretty rare sight. They do have some settlements far away, but
        the details of those locations are unknown to the current setting. Most elves reside in Panther's Rest, and
        all subraces are allowed. Elves live up to 250 years.
      </li>
      <li>
        Halflings
        <br>
        Halflings are allowed to be picked mechanically, but lorewise they belong to the same race as the gnomes.
        Lightfoot halflings are those who lived with the orcs, stout with the dwarves. There is no halfling
        language and halflings instead learn Gnomish.
      </li>
      <li>
        Humans
        <br>
        The humans are extinct, but they have returned as the undead Aman.Both standard and variant human are allowed,
        but player Aman can not have been "born" within the walls of Alzar. They would most likely hail from Al'Ruv, but
        other options can be explored and worked on with me. Humans know Common and Aman. Aman do not need to eat or
        drink to live, but they do need to rest, where they enter a stupor like state. Even though they are undead they
        are still susceptible to magical diseases.
      </li>
      <li>
        Dragonborn
        <br>
        Dragonborn are allowed mechanically, but they are the mutant versions of the Vulkian lizardfolk.
        They do not know Draconic, and instead know Vulkian.
      </li>
      <li>
        Gnomes
        <br>
        The gnomes have more insect like traits described in the races page. They do not look like half bugs or anything
        like that, but they are still distinct traits. The player can choose to give them wings, but they will not be
        able to fly with them. Forest gnomes are the gnomes who lived with the orcs, rock gnomes with the dwarves. Deep
        gnome is not allowed. Gnomes live up to 300 years.
      </li>
      <li>
        Half-Elves
        <br>
        Half-elves are not allowed. Humans having lost their blessing and having been gone for centuries together with the
        elves being almost extinct and driven far away makes it so no half-elves are alive, nor can any more be created.
      </li>
      <li>
        Half-Orcs
        <br>
        The orcs is one of the major races of the region. The Player's Handbook half-orc is used for these orcs.
      </li>
      <li>
        Tieflings
        <br>
        The tieflings are known as the Azzinth. The Azzinth do not know infernal
        and instead know Azzinth.
      </li>
      <h3>Volo's Guide to Monsters</h3>
      <li>
        Aasimar
        <br>
        The aasimar are exceedingly rare, but all subraces are allowed. Aasimar do not know Celestial and instead know
        a language of their choice.
      </li>
      <li>
        Firbolg
        <br>
        Firbolg are allowed, but rare, at least outside Panther's Rest. They do not know Elvish and instead can choose
        a language of their choice.
      </li>
      <li>
        Goliath
        <br>
        Goliath are allowed mechanically, but they are the mountain orcs. They do not know Giant and instead know Orcish.
      </li>
      <li>
        Kenku
        <br>
        The kenku are known as the Vulkian birdfolk. They do not know Auran and instead know Vulkian.
      </li>
      <li>
        Lizardfolk
        <br>
        The lizardfolk are the Vulkian lizardfolk. They do not know Draconic and instead know Vulkian.
      </li>
      <li>
        Tabaxi
        <br>
        The tabaxi are known as the Vulkian catfolk. They know Common and Vulkian.
      </li>
      <li>
        Triton
        <br>
        Triton are not allowed.If they exist they are not known in this region.
      </li>
      <li>
        Bugbears
        <br>
        Bugbears are not allowed. Bugbears exist but they do not have good enough relations to be allowed for players.
      </li>
      <li>
        Goblins
        <br>
        Goblins are not allowed. Goblins exist but they do not have good enough relations to be allowed for players.
      </li>
      <li>
        Hobgoblins
        <br>
        Hobgoblins are not allowed. Hobgoblins exist but they do not have good enough relations to be allowed for
        players.
      </li>
      <li>
        Orcs
        <br>
        The orcs is one of the major races of the region. While the Player's Handbook half-orc is used for most orcs,
        but some of the more tribal orcs would fit this race.
      </li>
      <li>
        Yuan-ti Pureblood
        <br>
        Yuan-ti Pureblood are not allowed. If they exist they are not known in this region.
      </li>
    </ul>
    <h2>Classes</h2>
    <p>
      All classes are allowed. Most classes have been explained in the classes page and should not be affected
      mechanically. If you wonder how a class functions in my world and it is not explained in the classes page
      feel free to ask me.
      <br>
      The classes that are able to use real magic are the Aman, warlocks or clerics who worship Levyn, God of Light
      and Life, or Zuvek, goddess of Death and Secrets. Keep in mind that those who use real magic are highly
      mistrusted or disliked.
    </p>
    <h2>Languages</h2>
    <p>
      Languages are somewhat changed from the standard languages. Two new languages have been added. Vulkian is the
      language spoken by the races from the Vulkian Archipelago. It's a rough language with sharp sounds that can be
      difficult to learn for non-natives. It was mostly a spoken language and they had a crude written language, but
      after they made contact with the other races they adopted the common script. Azzinth is the language spoken by
      the Azzinth. It's in many ways similar to Infernal, but over many years it has changed. Someone who speaks
      Azzinth might be able to understand Infernal if succeeding at a Intelligence check. The languages of
      the world are as following:
    </p>
    <ul>
      <h3>Standard languages</h3>

      <li>Azzinth - Infernal script</li>
      <li>Common - Common script</li>
      <li>Dwarvish - Dwarvish script</li>
      <li>Elvish - Elvish script</li>
      <li>Giant - Orcish script</li>
      <li>Gnomish - Common script</li>
      <li>Goblin - Goblinoid script</li>
      <li>Orcish - Orcish script</li>
      <li>Vulkian - Common script</li>

      <h3>Exotic languages</h3>
      <li>Abyssal - Infernal script</li>
      <li>Celestial - Celestial script</li>
      <li>Draconic - Draconic script</li>
      <li>Deep Speech - No script</li>
      <li>Infernal - Infernal script</li>
      <li>Primordial - Primordial script</li>
      <li>Sylvan - Elvish script</li>
      <li>Undercommon - Dwarvish script</li>
    </ul>
  </div>
</div>
