<div class="container">
  <h1 class="text-center">
    Races of Alaryn
  </h1>
  <div class="text-center">
    <ul>
      <li>
        <a href="races#orcs" target="_self">Orcs</a>
      </li>
      <li>
        <a href="races#dwarves" target="_self">Dwarves</a>
      </li>
      <li>
        <a href="races#gnomes" target="_self">Gnomes</a>
      </li>
      <li>
        <a href="races#azzinth" target="_self">Azzinth</a>
      </li>
      <li>
        <a href="races#aman" target="_self">Aman</a>
      </li>
      <li>
        <a href="races#elves" target="_self">Elves</a>
      </li>
      <li>
        <a href="races#lizardfolk" target="_self">Lizardfolk</a>
      </li>
      <li>
        <a href="races#catfolk" target="_self">Catfolk</a>
      </li>
      <li>
        <a href="races#birdfolk" target="_self">Birdfolk</a>
      </li>
      <li>
        <a href="races#aasimar" target="_self">Aasimar</a>
      </li>
      <li>
        <a href="races#firbolg" target="_self">Firbolg</a>
      </li>
    </ul>
  </div>
  <div>
    <h2 id="orcs">Orcs</h2>
    <h3>History</h3>
    <p>
      The orcs of Alaryn have always been a proud race. In the very early days of history they lived out in and near
      the savannahs, but when the humans quickly grew and expanded their reach the orcs were put in chains and enslaved.
      They were still a proud race and would frequently try to stage rebellions, but they were put down by the humans.
      When the gods left the world and the humans lost their magic the orcs would finally be able to succeed in their
      attempts to break free.
      <br>
      As the orcs quickly took control of the human regions and pushed into elven regions
      they would meet the dwarves. They wouldn't simply give up their newly conquered regions to these newcomers,
      but the dwarves had better equipment and strategy then they did and the orcs would have to retreat to stage a
      counterattack. The counterattack against the dwarves was successful, but it caused both sides to retreat and the
      orcs would focus more on building up the regions they had conquered. As the orcish empire grew, they would tear
      down a lot of the human cities and rebuild them in their own style and developing their culture. The gnomes were
      allowed to be integrated into their culture, as they were a great boon both in terms of their agricultural skills
      and finesse with smaller tools.
      <br>
      After the Surge the orcs would flock to their larger cities, and the city of Churok would be the center of the
      new orcish empire. Using crystals to amplify their strength they were able to quickly clear out and rebuild the
      city, and other crystal users would nourish both the lands and the lakes. Today the orcs are still strong and
      proud, and their relations with the dwarves are strained. Though it's not all out war, most orcs will not hesitate
      to take down a dwarf they meet in the borders of their regions.
      <br>
      Not all orcs wished to conquer the human empire when it was falling. Many simply longed for peace and when most
      orcs would focus on fighting and conquering, some went away into the mountains. The mountains were rougher than
      the savannahs and grasslands down below, but it provided respite from the constant fighting. These orcs would
      over many years adapt better to the colder and wilder terrain, but they still remained friendly with the other
      orcs.
    </p>
    <h3>Description</h3>
    <p>
      Orcs are large and muscular humanoids. Most orcs have a strong face with tusks and their forearms and legs
      are usually covered in thick hair. Their skin is usually brown, red or a brownish green. The orcs are a proud
      people and while they can be vicious in battle and have aggressive personalities, they value control over ones
      emotions. Even though they have adapted to the newer crystal technology, their culture is still very in tune
      with nature. The largest orcish cities are still mostly made out of wood and leather, and hunting is very popular.
      <br>
      The orcs that travelled up into the hills and mountains are similar to the regular orcs, having strong and
      muscular builds, but they are often more hairy than their other brethren, but they are slightly taller than them
      and their skin is usually grey or light brown.
    </p>
    <br>
    <br>

    <h2 id="dwarves">Dwarves</h2>
    <h3>History</h3>
    <p>
      Since the dawn of time the dwarves have been attuned with the earth itself. Originating from deep underground,
      they were always excellent at working with stone and metal. The dwarves moved further up and would establish great
      forts and towns near the surface of mountains. However when they emerged the regions were already under control
      by other races, the humans and elves. They did attempt at establishing proper relations with them, but they were
      looked down upon by the surface races, being viewed as primitives for relying on traditional metal- and stonework
      instead of using magic to their fullest. This caused the dwarves to mostly remain within their mountains, but
      they still kept close tabs on the others.
      <br>
      They were still proud of their skills and continued on developing their skills with stone and metal. When the
      Exodus happened they realised that both the human and elven empires were falling apart very quickly. The dwarves
      would rally, build up a large force and create strategies to quickly conquer their regions. When they launched
      their attacks they were not met with humans or elves, but orcs.They knew about the orcs, but only knew of them
      as savages who were enslaved by the humans and they were not going to give up their plan. Quickly bringing the
      orcs down they though victory was assured for them. As the orcs were fleeing they decided to push on further
      despite their losses, and this would allow the orcs to launch a strong enough counterattack to force the dwarves
      to withdraw. Though they had lost this battle, they were motivated to build up forts and cities in their
      conquered regions and eventually take out the orcs for good.
      <br>
      Though the war never stopped, the orcs were resilient and had the advantage of numbers over the dwarves, and they
      never managed to take the lands they had assumed they would quickly claim. They still prospered on the surface,
      having both cities in the mountains and the grasslands.After the Surge hit they were able to rebuild fast thanks
      to their sturdy architecture and highly advanced metal technology. When they discovered how crystals could be used
      to amplify their equipment, the dwarves would quickly became one of the most advanced civilisations as of today.
      Though they are advanced, they still don't have the numbers to expand their regions exponentially, but the current
      cities with their capital of Dulmon in the center are some of the strongest bastions in the world.
    </p>
    <h3>Description</h3>
    <p>
      Dwarves originally originate from the earth and rock, and this shows the older a dwarf gets. When a dwarf is young
      they have fleshy skin, and the men have large beards while the ladies have long flowing hair. As they get older
      their skin hardens and becomes more like stone. The oldest of dwarves are said to be made purely of stone.
      Regardless of age, dwarves are short and strong, and in their culture discipline and knowledge is highly valued.
      <br>
      Some of the dwarves remained deep within the earth and did not engage with the surface wars. Though they are
      very similar to the surface dwarves except for their dusk or pale skin, they are more somber and serious in their
      culture. In the deep survival is more important than gathering knowledge.
    </p>
    <br>
    <br>

    <h2 id="gnomes">Gnomes</h2>
    <h3>History</h3>
    <p>
      Very little is known about where gnomes originally originate from. Even the oldest records from the pre Exodus era
      mention how gnomes had always been part of the land. When the elves and humans expanded they did allow the
      gnomes to live in their empires, but the gnomes weren't treated very well by them. The gnomes were quite adept
      with magic compared to the orcs or dwarves, but still nothing compared to the humans and elves. Their skills
      let them keep some form of autonomy, but they had to pay heavy taxes and were frequently abused by the arrogant
      arcane ones. They still lived their humble lives in their villages, doing all the could to avoid gaining
      negative attention from the humans and elves
      <br>
      When the human and elven empires collapsed, the gnomes spent great efforts into expanding their settlements. They
      were quickly met with orcs followed by dwarves, but the gnomes were very diplomatic and would assist the new races
      rather than trying to oppose them. This allowed them to not only integrate into the emerging orcish and dwarvish
      empires, but they gained status and independence. Even though the dwarves and orcs were at war, the gnomes were
      easily able to travel between the sides and established trade routes and black markets that both sides would
      take use of.
      <br>
      Just as they had assisted in growing the orcish and dwarvish empires,the gnomes helped rebuild them after the Surge.
      They became even more important to both sides as even though both the dwarves and orcs were hurting, they were
      unable to cooperate. Gnomish traders would allow news, materials and technology to flow more freely. The gnomes
      got an even more central point in the new world when they established Panther's Rest and turned it into a
      free city for all races.
    </p>
    <h3>Description</h3>
    <p>
      The gnomes are small, being even shorter than dwarves. They are very human looking in many ways, but they have
      very bug like features. Each gnome is usually very different from one another in what features they have, but
      they can have traits such as carapace, antennae, compound eyes or other traits that make them just a bit different
      from most other humanoids. The gnomes don't have a distinct culture having lived among humans, elves, orcs and
      dwarves, but most gnomes are very diplomatic and open to trade. The gnomes who lived with the orcs have further
      improved their agricultural skills, and the gnomes with the dwarves have quickly adapted to their crystal
      technology.
    </p>
    <br>
    <br>

    <h2 id="azzinth">Azzinth</h2>
    <h3>History</h3>
    <p>
      The Azzinth are said to originate from devils and demons. Some say that they are fiends that were exiled, others
      say they are half-fiends who have adapted to the material realm. Regardless of what is the truth, the Azzinth
      do not share this information, though it is unsure if the truth is known to the Azzinth themselves or not. There
      aren't too many records of the Azzinth before the Exodus, but they did know how to use arcane magic and they also
      lost this ability when the gods left.
      <br>
      After the Exodus the Azzinth were still able to maintain their desert empire. Being highly resistant to the
      climate of their region the lack of magic didn't impact them too much. The Azzinth didn't have any idea of what
      caused them to lose their magical abilities and would search for any cause or any way to regain their abilities.
      <br>
      After the Surge the desert became a much more hostile and harsh environment, and even though the Azzinth were
      very well adapted for it, they were forced to pull out of the desert. They settled new cities with Zashar being
      the new center point of the Azzinth regions. As they were forced out of their homelands, having lost a lot of
      their population and still lacking magical abilities they made the decision to search for other civilisations.
      The first civilisation they met were the Dwarves, which they learned how to amplify their equipment with crystals
      and the methods of the crystalthurges. When they met the orcs they further learnt how to amplify their bodies
      with crystals and how to nourish the lands. This was of great help and would allow the Azzinth to expand their
      settlements much faster.
    </p>
    <h3>Description</h3>
    <p>
      The Azzinth can be very varied, but they have certain traits that are common amongst most of them. Most Azzinth
      have horns of various shapes and sizes, nearly all of them have big and strong tails and their skin is usually
      red, black or a mix between them, but some very, very few Azzinth are dark blue. In their culture aesthetics are
      highly important and they have a strong hierarchy of nobles. With the newly aquired crystal technology they use
      them to both replicate the magic that their ancestors used so proudly, but also to decorate their cities and
      make otherwise impossible architectures.
    </p>
    <br>
    <br>

    <h2 id="aman">Aman</h2>
    <h3>History</h3>
    <p>
      In the olden days the humans were one of the strongest and most populous races. They relied heavily on their magic
      and their fertility and adaptability allowed them to quickly expand their regions. They looked down on most other
      races with the only exception being elves who had similar magical skills to them. Their cities where built and
      supported with magic, high spires reaching into the sky that would otherwise be impossible to build and they
      communicated over long distances with this magic. Though they weren't physically as adept as other races, they
      didn't need to be.
      <br>
      When the Exodus occured everything went wrong. Their cities would almost immediately collapse when they had no
      control of the magic that supported them, and lacking proper ways to communicate they were unable to organise.The
      orcs were quickly able to stage rebellions all across their empire and their elven allies were unable to assist as
      they were also struggling. The humans who weren't slaughtered by the orcs were driven out. The few records of this
      time say the humans fled across the sea to the south west, but as they were never seen or heard of later they were
      assumed to have gone extinct.
      <br>
      Around a century ago the humans would reappear into the world. Though they weren't quite human anymore, with
      undead appearances and boasting the name Aman.They arrived in Panther's Rest, looking for friendly relations
      with the other races. They were met with immediate suspicion and hostility, not only because they were walking
      dead, but also because the actions of the humans of the past. They still managed after some years of diplomacy and
      negotiations to be allowed access to the city of the free. Though many people wonder how they can exist as they
      do, as they are very similar to most living races outside from their appearance, but every Aman will answer
      that their God King Jho'Al'Zuk created them, bringing back their race to once again bring prosperity to the
      world. Many curious individuals wished to investigate the Aman, both their claims of being friendly and their
      origins, and they were allowed to travel to Alazr with the Aman. The city of Al'Ruv lies on the coast in a river
      delta, but as they travelled further south to see the desert of their origin they were met with a massive wall
      made out of bones. Only Aman were allowed entrance into the desert, but anyone are free to see Al'Ruv. Al'Ruv has
      recently started with agriculture and fishing, not because the Aman need to feed themselves, but because they
      have received an increase of visitors, mostly people who wish to study the Aman and their origins. What makes
      most people curious about the Aman - and what might be the reason they were accepted into Panther's Rest - is that
      the Aman are able to use magic without the use of crystals. All Aman will tell the same story; they are blessed
      by Jho'Al'Zuk and he is the sole reason they are able to use magic. Though nearly all Aman will tell the same
      story, many scholars are highly suspicious of this story and do everything they can to get information about the
      Aman empire.
    </p>
    <h3>Description</h3>
    <p>
      The Aman look very much like humans of old, but they can't hide the fact that they are undead. Their bodies are
      withered with sun worn skin draped across them, their eyes are either missing or completely blackened, and
      exceedingly few have hair. They often dress in very fine and decorated clothing, and most Aman who deal with the
      living races tend to either use magic to disguise themselves or simply dress themselves to hide their dead
      looks. Not much is known about their culture, but the Aman are usually very cold and controlled with their
      emotions.
    </p>
    <br>
    <br>

    <h2 id="elves">Elves</h2>
    <h3>History</h3>
    <p>
      The elves were highly adept with the arcane arts and were blessed with longevity. They weren't as numerous as the
      humans, but their age allowed them to expand far and wide too. Their cities were highly magical and the elves had
      mastered the arts of teleportation. They didn't enslave other races like the humans did with the orcs, but they
      were still arrogant in their abilities. They especially took pride in their craftsmanship being amplified by
      magic and they would be spiteful towards the dwarves' mundane work.
      <br>
      When the gods left and they lost their magical abilities the elven empire would collapse. Their cities crumbled
      into ruins immediately, and without any way to teleport to other cities they were heavily disorganised. They did
      initiately seek out the humans, but as they were being conquered by the orcs they decided to flee before they
      would suffer the same fate.Fleeing to the east the elves would leave their cities and their allies behind, though
      the orcs would still take out a large amount of them.
      <br>
      After the Surge very little has been heard from the elves. They were at first thought to be extinct like the
      humans, but some elves would eventually make contact with the dwarves and orcs. The elves had lost their
      longevity and they did not prove a force like they had used to, in fact only a handful of elves were seen for
      a long time. As the post Surge era went on elves did slowly start to emerge into the known world, but it wasn't
      until Panther's Rest was established that they found a proper place to stay. Elves aren't welcome in most
      dwarvish or orcish cities, but the elves of today are much more humble than how the history books describe their
      ancestors.
    </p>
    <h3>Description</h3>
    <p>
      The elves are taller and more lilthe than how the humans of old used to look, but they also have very disctinct
      features that separate them. Elves are very alien in appearance; their arms are relatively much longer for their
      body compared to other humanoids, and their eyes are large and have a single colour. They have long faces and
      often long hair, and their ears are very long and thin.
    </p>
    <br>
    <br>

    <h2 id="lizardfolk">Lizardfolk</h2>
    <h3>History</h3>
    <p>
      Not much is known about the Vulkians before the Exodus. There are some tales and stories that still get passed
      around, but the Vulkian races were much more tribal, savage and primitive in the pre Exodus era. From what stories
      and Vulkians legends tell something happened after the Exodus which caused the races to quickly evolve. The races
      would be more civilised and were able to slowly establish smaller settlements and a semblance of civilisation in
      the otherwise savage jungles. The Lizardfolk of the jungle were one of the leading races to establish this
      culture. They worked together with the other races who had evolved, the Catfolk and Birdfolk, and the town known
      as Txotxa would spring up on the largest of the islands.
      <br>
      When the Surge struck, Txotxa and its citizens would suffer greatly. The jungle became more dangerous than before
      and the survivors spent a long time to regain a safe haven. However the Surge seemed to have further affected the
      Vulkians. While all the Lizardfolk became even more intelligent than before, some of them mutated. This mutation
      caused them to be loaded with elemental affinity, some being able to breathe and handle fire, some poison and
      other ice. These mutants became highly important amongst the Lizardfolk and they were the first to be sent out
      to explore the world and see if there were other settlements out in the world. The Vulkians made first contact
      with the Azzinth to the east, and from them learned of the northern races.
    </p>
    <h3>Description</h3>
    <p>
      The lizardfolk come in many shapes and sizes. The most common lizardfolk is large and sturdy, having powerful
      scales and a natural sense for hunting. They usually come in colors of green, sometimes towards shades of blue
      or yellow. Many lizardfolk are much smaller and fralier, but they are also more dexterous and cunning than their
      larger brethren. The mutants are very similar to the larger variant of lizardfolk, but their scales are not as
      protective while instead providing resistance against their elemental affinity, and their scales take on much more
      vibrant or distinct colours.
    </p>
    <br>
    <br>

    <h2 id="catfolk">Catfolk</h2>
    <h3>History</h3>
    <p>
      Not much is known about the Vulkians before the Exodus. There are some tales and stories that still get passed
      around, but the Vulkian races were much more tribal, savage and primitive in the pre Exodus era. From what stories
      and Vulkians legends tell something happened after the Exodus which caused the races to quickly evolve. The races
      would be more civilised and were able to slowly establish smaller settlements and a semblance of civilisation in
      the otherwise savage jungles. The Catfolk were excellent hunters of the jungle, being able to easily traverse the
      trees and having smaller camps in the treetops. When the Lizardfolk established the town of Txotxa the Catfolk
      were quick to join them. Also having gained increased intelligence they were valuable assets for the town, being
      able to easily climb the wooden structures which was useful for both construction and repairs. The Catfolk are
      also skilled at gathering materials.
      <br>
      The Catfolk were also affected by the Surge. While not mutating like many of the Lizardfolk, they did develop an
      innate sense for tinkering and craftsmanship. The Catfolk were integral in the development of Txotxa when crystal
      technology was brought to the archipelago.
    </p>
    <h3>Description</h3>
    <p>
      Catfolk have many similar traits, being very lilthe and long, but they take on many different characteristics
      depending on their heritage. Some take on short hair with single coloured or patterned fur, some have manes and
      larger areas of hair. Their claws allow them to easily climb and move around in their homelands. The catfolk
      are usually very curious about crystal technology and despite being far behind the rest of the world in
      technological advancement, the catfolk has done an immense job of integrating crystals into Txotxa.
    </p>
    <br>
    <br>

    <h2 id="birdfolk">Birdfolk</h2>
    <h3>History</h3>
    <p>
      Not much is known about the Vulkians before the Exodus. There are some tales and stories that still get passed
      around, but the Vulkian races were much more tribal, savage and primitive in the pre Exodus era. From what stories
      and Vulkians legends tell something happened after the Exodus which caused the races to quickly evolve. The races
      would be more civilised and were able to slowly establish smaller settlements and a semblance of civilisation in
      the otherwise savage jungles. Even after the Exodus the Birdfolk of the achipelago didn't develop as quickly as
      the Lizard- or Catfolk. They kept to their huts far up in the trees where they could fly, and even if they
      were approached by the Catfolk who could get into the treetops too, they had little interest in joining the town
      of Txotxa.
      <br>
      After the Surge the Birdfolk were struck severely. Their intellect grew just like with the other Vulkians, but
      they lost their ability to fly. Not only did they lose many of their people to the arcane energies, but without
      their flight they were not able to surive as easily in the jungle. As a result they were forced to join and
      rebuild Txotxa. While they lost their flight, they did receive wits and cunning. Though not as integral in
      the rebuilding of Txotxa outside of providing manpower, they are highly useful as both spies and diplomats for
      the Vulkians.
    </p>
    <h3>Description</h3>
    <p>
      The birdfolk come in many sizes and shapes. Though they all lack the ability of flight, each of them takes
      characteristics of a bird, usually tropical birds like macaws, cockatoos, parrots or toucans. They are very
      skilled at mimicry and forgery, and they are highly adaptable to their environment despite coming from a tropical
      region.
    </p>
    <br>
    <br>

    <h2 id="aasimar">Aasimar</h2>
    <h3>History</h3>
    <p>
      Extremely little is known about the aasimar.No one is sure where they originate from in the world, and the few
      aasimar who have made it to the bosgar region rarely talk much about their homelands. Due to their appearance
      most theories suggest they are somehow related to celestials in the same way that the Azzinth might be related
      to fiends.
      <br>
      The few aasimar known are usually travelers, and it's difficult to track them down. The few that have settled down
      have done so in Panther's Rest. Even though Panther's Rest is a free city open to all races, most people are
      suspicious of the assimar due to how rare they are. Most of the citizens know of the aasimar, but most of them
      will not have seen one.
    </p>
    <h3>Description</h3>
    <p>
      The aasimar are in many ways similar to the humans of old. Even if humans weren't reduced to being undead, there
      would still be some differences that separate them. Their hair are various shades of white, sometimes light gray
      or white gold. Their skin is extremely pale, but their most distinct features are their eyes which are glowing.
      Some aasimar have a subltle glow to them while others have eyes that gleam with a bright radiance. Not much is
      known about their culture, but most aasimar seem to be used to travel and living out in the wilderness.
    </p>
    <br>
    <br>

    <h2 id="firbolg">Firbolg</h2>
    <h3>History</h3>
    <p>
      The firbolg very recently made it to the region. First making contact with the Vulkians, they seem to come from
      another region to the south past the straits that connect Alzar and Azzin. The first of the Firbolgs were
      explorers looking for others to connect with. They travelled further north to Panther's Rest where they properly
      learned how to use crystals. Apparently the crystals had ravaged their island and there is still no proper form
      of civilisation in their homelands. However with the introduction to crystal technology they are bringing it back
      and the most recent news say that the firbolg are slowly managing to expand their regions.
      <br>
      Though firbolg are rare and new in the region, several have arrived in Panther's Rest to study crystal
      technology and learn from the other races. Most people still get a bit surprised when they see one, but they
      are slowly becoming more of a normal occurrence.
    </p>
    <h3>Description</h3>
    <p>
      The firbolg are tall people, challenging the large mountain orcs. They have muscular builds and their skin is
      often dusky and grey. Their culture seems to be very in tune with nature, as most firbolg who have arrived seem
      to focus on agriculture and nature crystals. They are still a curious people, and many of them have taken a great
      interest in the arts of a crystalthurge.
    </p>
    <br>
    <br>

  </div>
</div>
