<div class="container">
  <h1 class="text-center">
    Places
  </h1>
  <div>
    <h2 id="panther">Panther's Rest</h2>
    <p>
      Panther's Rest is one of the most influential cities of the region. It was first established by gnomes, but as
      their intention was to create a free city where people of all races could meet. Panther's Rest was built upon
      the ruins of a pirate haven of the post Exodus era. Even though it started as a small trading port it very quickly
      grew, and orcs, dwarves and tieflings alike travelled to the city, be it for diplomacy or looking for a new
      opportunity to settle. Many of the citizens still consider themselves part of their racial empire, but there
      are just as many who have given up their bonds and instead consider themselves fully dedicated to Panther's Rest.
      <br>
      <br>
      Panther's Rest consists of the three smaller islands plus the main land districts. The smallest of the islands
      is a crescent rise, only accessible over water. It would be difficult to climb the steep cliffs of the island and
      the main entrance is always heavily guarded. On top of this crescent cliff is the Captains' Palace where the
      leaders of the city gather when they need to discuss politics or other topics among each other. There are some
      smaller houses and barracks next to the palace where the elite guard resides.The leaders of the city are known
      as the City Captains or just Captains, but these days those titles mostly just remain for historical reasons.
      The second island is closest to the sea. One of the ends of the island rises quite high up and is walled off.
      Inside is the Noble District, where the families of the Captains reside as well as the other richer families and
      people of the city. Outside of the walls is the harbor district. While the mainland districts do have docks too,
      this is where the largest boats and vessels will dock.
      The third island is between the mainland and the second island. It connects to the second island with a bridge
      and to the mainland with two bridges. The island is known as the market district, where merchants and craftsmen of
      all types and qualities can be found. In the center is the grand bazaar which is always filled with hustle and
      bustle.
      The mainland is guarded by a large wall. It connects to the market district on two locations. The northern
      district is the slums. It connects to the market district, but it is always heavily guarded. The slums border
      a large rise which is known as the upper district. The upper district is where most guilds are located, but also
      where the upper middle class lives. Going down from the upper district will connect to the lower district, which
      is the largest of the districts. Right where the upper and lower district meets is the other bridge to the
      market district. The lower district is where most people live.
      <br>
      <br>
      The city is rules by the City Captains of the Captain's Council. The council consists of five members. The first
      member is the gnome Albar Liadon. He is the city's captain of diplomacy and relations and is in charge of keeping
      good relations with the other empires. He is also the head Captain and has the final say should a decision be
      unable to be made by the council.
      <br>
      The second member is the dwarf Eldeth Thrarak. She is the city's captain
      of weapons, armour and equipment. She is in charge of all trade related to armour, arms and other martial
      equipment. She makes sure that the city's guards are well equipped and that all related goods traded with other
      cities are of the highest quality.
      <br>
      The third member is the dwarf Rangrim Stoutale who is the city's captain of guards. He is in charge of training
      the guards of the city, both the regular and elite guards, making sure that the city peace is held and that none
      of the wilderness can threaten the citizens, walls or farms.
      <br>
      The fourth member is the orc Holgur Throkk. He is the city's captain of foods, drinks and trade goods. He must
      make sure that the farms produce enough food for the city and that the fishermen's hauls are bountiful. He is also
      in charge of the trade goods of the city, including drinks, plants, clothes, jewelry and other kinds. He makes
      sure that the city's outgoing goods are of high quality, and that the markets of the city are under control.
      <br>
      The fifth member is the Azzinth Shava Thethren. She is the city's captain of magic and secrets. She is the
      spymaster of the city, but also the overseer of magical items and those who practice crystal arts. Magical
      relics can be dangerous and you need Shava's permission to deal in magical items. She is also the one
      who ensures that no illegal cults using real magic grow within the city.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="saber">Saber's Dawn</h2>
    <p>
      Saber's Dawn is a very recent settlement established by the Captian's Council of Panther's Rest. It was built to
      be a stronghold on the wilderness of the eastern parts of Laronia. The fort is still in the early stages of
      being built, but the Council is urging adventurers to travel there, as those who can bring in valuable information
      from old ruins, find ancient relics or make contact with other civilisations will be generously rewarded.
      <br>
      While Saber's Dawn is still under construction, it's far enough with the construction that there are some basic
      facilities set up there. Adventurers in service of Panther's Edge get to stay for free at the stronghold's inn,
      a blacksmith has been set up and there is a general store for basic equipment.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="dulmon">Dulmon</h2>
    <p>
      Dulmon is the capital of the dwarves. The city is highly technologically advanced, and is the best city to learn
      crystalthurgy. Crystalthurges have enhanced the city's infrastructure, improving communication and travel within
      the city, but they have learnt from history and in case the crystals should fail the city should still be able
      to stand. The city is very hierarchical, and to rise in the ranks the citizens need to show high skills within
      combat, crystalthurgy or craftsmanship.
      <br>
      The emperor of Dulmon is Alberich Rukeran. Though the position of emperor is inherited in Dulmon, Alberich has
      certainly earned it. He's a strong warrior adept at using a wide array of crystal weapons, an incredibly skilled
      crystalthurge while also being an excellent strategist. There are many who says that Alberich will lead the
      dwarven empire into further prosperity and will be the one to take over the neighbouring orcish regions. There
      are many dwarves who believe that his supporting council is holding him back from his true potential, but
      Alberich is very insistent that his counselors are invaluable to him.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="churok">Churok</h2>
    <p>
      Churok is the capital of the orcs. While the orcs don't have the technology as the dwarves to match their
      architecture, but this city is still a sight to behold. The buildings are marvelous works of art, mostly
      built with wood, animal hides and scales. Surrounding the city are grand farms which are being maintained
      by the orcish druids providing plenty of food to the city, and the lakes near Churok are bountiful and provides
      a strong supply of fish. Anyone can become successful in the city. Merchants have to provide better goods
      than their competitors, and those who show prowess in either crystal use or martial skills can gain great status,
      especially those who compete in the arenas of the city.
      <br>
      Churok is being lead by the chieftain Ahra Sharpclaw. Thought he title of chieftain is old from ages back when the
      orcs lived in smaller tribes on the savannah. Ahra became the leader when she bested the previous leader in
      the Grand Colloseum of Churok. Ahra has proven to be a wise and calm leader, and she focuses more on growing
      the orcish settlements. While she has very little positive to say about the dwarves, she is not interested in
      launching any attacks on them. She's great with weapons, but she has mastered the druidic crystals and uses
      her druidic skills both for combat and to nourish the orcish lands.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="zashar">Zashar</h2>
    <p>
      Zashar is the capital of the Azzinth. The Azzinth used to have great cities further down in the desert, but after
      the Surge the hostile desert got even more vicious and inhospitable. They were forced north too the savannah, and
      they settled their first new city on the edge of the desert. Zashar was built in the style of their old cities;
      centered around a grand pyramid where their queen lives, the city sprawls out in four wards around the pyramid.
      Many of the nobles of the city have established their own pyramids, but none can stand up to the grand palace.
      Each quarter is under the rule of a specific noble family, but each of these families must answer directly to the
      queen. Even though the city borders the scorching desert, there is a great spring that flows down from the
      mountains which allows the city to prosper despite the climate.
      <br>
      The queen of Zashar and the Azzinth is Lady Amara. One of the rare blue Azzinth, her beauty is only rivaled by her
      cunning. She's a powerful sorcerer, so strong that many people sometimes believe that she might be using real
      magic. Amara got to power through a coup several decades ago, and while people were initially against her
      taking the throne, she quickly gained the people's favour. Some believe that she silenced her opposition, while
      others think that she simply won them over. Regardless of the truth, Zashar is doing very well off, constantly
      producing sorcerers which match the strength of the dwarven crystalthurges.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="txotxa">Txotxa</h2>
    <p>
      Txotxa is the capital of the Vulkians. It is not as grand as the other capitals of the region, but it is a very
      lively town. The buildings have no consistent style, and it seems very makeshift. The buildings are mostly wood,
      and the layout is chaotic and unplanned. The waters around the city are filled with exotic fish and together
      with the fruits, plants and herbs of the jungle the citizens are never struggling for food. The city has no true
      leaders, and the guard presence is very small. This makes Txotxa a popular place for outlaws, exiles and pirates
      to dock. It's not like the city is a pirate haven, the citizens are very good at upholding their own unwritten
      laws.
      <br>
      While there are no true leaders of the city, there's three people who have managed to gain enough power and
      respect to be considered de facto leaders. One of them is a lizardfolk named Pyxrin Jahtxa. She is a fierce
      fighter who leads the largest gang of the city and has a large influence of the other gangs. She makes sure
      that her turf is peaceful, and all merchants in her part of the city must pay taxes to her in return for
      protection.
      <br>
      The second is a catfolk named Quick Bell. Bell is a powerful bard, who has been part of spreading the
      bardic ways of spellcasting to the world. She is the most popular of the big three, making sure that
      entertainment of all kinds are easily accessible to the citizens. Despite not leading a gang, the other
      leaders respect her powers and personality.
      <br>
      The final one is a birdfolk named Tatxun. He controls the underbelly of the city. While the city isn't exactly
      the most honest of settlements, there is always a underbelly in every city. He has spies everywhere, which makes
      him quite feared by many. No one is quite sure what his angle or motives are. He has never done anything that
      would harm the city, but it is uncertain if he wishes to control the city or just wants it to grow and be safe.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="alruv">Al'Ruv</h2>
    <p>
      Al'Ruv is the only open city of the Aman. Many people who wish to study the Aman travel here, but they are not
      allowed to go any further into the Aman kingdom. It resides in a large river delta, and even though the Aman
      have no need for nourishment they have recently started setting up farms to make sure the visitors are able to
      eat. Many Aman are "born" here, though their methods of making new Aman is highly secret. There have been those
      who have attempted to infiltrate their forbidden regions, but all those known to have done so have been executed.
    </p>
    <br>
    <br>
  </div>
</div>
