<div class="container">
  <h1 class="text-center">
    Godlore
  </h1>
  <p>
    There are many powerful entities which affect the world. However not much is known anymore about most of them.
    After the Exodus much of the human and elven history of the gods was lost, and after the Surge nearly nothing
    is left.But even if the history is lost there are not many who is interested in finding it or rerecord it. The
    gods are vilified and their followers are mistrusted or right out hated.
    <br>
    There are other entities who influence the world, some who give their followers true magical abilities. Much
    knowledge about these entities is unknown, but their followers are just as disliked as the followers of the
    gods.
  </p>
  <br>
  <hr>
  <br>
  <div>
    <h2 id="panther">The six gods</h2>
    <p>
      The six gods are the gods who walked amongst the mortals before the exodus. The mortal races angered the gods
      which caused them to seal away the mortals' ability to use arcane magic, and they would never walk among them
      anymore. After the Surge it is said that nearly all gods completely left the reaches of the material plane,
      but there are two who still remain even if they are very passive.
    </p>
    <h3>Levynn, God of Life and Light</h3>
    <p>
      Levynn has always been known as a benevolent god, someone who loved the mortal races. When he walked among the
      mortals legends say that he cured regions of disease and blessed the humans and elves with their blessings
      of fertility and longevity.
      <br>
      Many theorize that Levynn was forced by the other gods to remove the blessings from the humans and elves, but
      some still think that Levynn isn't as good as he is often depicted. After the Surge he was one of the two gods
      to remain in the world, though he is much more passive and inactive compared to the past. However he is still
      capable of blessing mortals with power, but only the most devout are able to communiate with him.
      <br>
      Those who still follow him wish to spread the good of his word, to use his powers to bless, heal and save others,
      but they still can't avoid the fear and hate of true magic users. As a result his followers often work in secret
      groups, and often pose as medics rather than clerics.
    </p>
    <h3>Natoc, Goddess of Knowledge and Magic</h3>
    <p>
      Natoc is said to have been the one who initially gifted the mortals with the capabilities. Due to this she has
      also been attributed to be the sealing of their magic abilities after the Exodus. As she is often given
      credit for creating the Magistones, she is heavily disliked due to the effects of the Surge.
    </p>
    <h3>Halvan, God of Earth and Nature</h3>
    <p>
      Halvan is said to have planted the seeds from which life bloomed in the material realm. He was the one who
      gave the druids of old their powers. He did care for the mortals of the world, but not in the same way that
      Levynn did. While Levynn wished to defend the mortals when they had angered the gods, Halvan agreed with the
      others.
    </p>
    <h3>Alzyn, Goddess of Fire and War</h3>
    <p>
      Alzyn was a mighty and fierce god, sometimes given the credit of being the leader of the gods.She was a god
      who loved the earliest days of the pre Exodus era when the mortals were more primitive and prone to fight
      and go to war. She did not approve when the humans and elves used their magic to forcefully conquer large regions
      without ever going into honourable combat.
      <br>
      Alzyn is said to be the goddess who is the main reason for both the Exodus and the Surge. Having built up
      a dislike for how the mortals acted, she would work to convince the other gods into sealing away their magic,
      but as the mortals still longed for the godgiven powers sealed within the Magistones she would also
      be the one who made the Magistones explode.
    </p>
    <h3>La'luven, God of Air and Water</h3>
    <p>
      Very little is known about La'luven to this day. He is said to have been a chaotic god, a fleeting god, a god
      who cared little for the actions of both the mortals and other gods. The most destructive of storms recorded
      in ancient history are said to be made by him, and therefore some theorize that he was an evil god, while
      others think that he was simply a carefree god.
    </p>
    <h3>Zuvek, Goddess of Death and Secrets</h3>
    <p>
      Zuvek is the second god who still remains. Before the Exodus she was an important part of many people's lives,
      she was both feared due to her connection to the domain of death, but she was also worshipped as death is
      an unavoidable part of life. Zuvek was not one who would simply answer all prayers, and rather do what
      she thought was most interesting at the time.
      <br>
      Some legends say that Zuvek would play pranks on the other gods, even planting ideas in their minds. Due to
      this she is sometimes said to be the true cause of both the Exodus and the Surge. Even after the Exodus she
      would sometimes walk among the mortals behind the other gods' backs, but today she is very inactive despite her
      interest in the mortals.
      <br>
      Her follow her come in many different flavours. There are those who simply wish to carry on the ancient rites
      of leading dead souls to the after life, while others use her powers for selfish reasons. Followers of Levynn
      are mistrusted, but followers of Zuvek are vilified, sometimes attacked as soon as their powers are made known.
    </p>
    <br>
    <hr>
    <br>
    <h2>Otherworldly entities</h2>
    <p>
      Not much is recorded about the most powerful of otherworldly entities. Only those who have dedicated themselves
      to the study of ancient history will know the most basic of details. There are still those who are willing
      to make pacts with these entities, regardless if they truly know who they make a pact with or not. These
      entities might be powerful Archdevils of the Nine Hells, Great Celestials of Mount Celestia, Archfey
      of the Feywild, Shadowmasters of Shadowfell, Prime Demons of the Abyss or the horrifying great old ones
      of the Outer Realms.
    </p>
    <h3>Archdevils</h3>
    <p>
      The devils of the Nine Hells are terrifying beings, and the leaders of the devils are the Archdevils. Not many
      of the archdevils are known, but ancient Azzinth records can give some information about the tyrants.
    </p>
    <h3>Great Celestials</h3>
    <p>
      The Celestials of Mount Celestia are beings of light and life. They often approach mortals with the intents
      of spreading goodness and prosperity to the realms. However due to the distrust of gods and otherworldly beings
      in general there are very few who would actually take the offer of a Celestial.
    </p>
    <h3>Archfey</h3>
    <p>
      The Archfey rule the Feywild. The Feywild is a reflection of the material plane, but it's chaotic, beautiful,
      horrifying and entrancing. There's said to be certain places in the world which are closely connected to the
      Feywild, but none of these locations are known. The rulers of the Feywild are the Archfey, who have their
      courts who rotate the seat of power. It is said that the Elves of old used to have a connection the Feywild
      and Archfey, but this has not been verified in recent history.
    </p>
    <h3>Shadowmasters</h3>
    <p>
      The Shadowfell is another reflection of the material plane, but it's a bleak and dark realm, where undead and
      beings of darkness reside. The rulers of this realm are known as the Shadowmasters, but there is no
      true order in Shadowfell. The Shadowmasters simply reside over their own regions of the plane, and while
      they don't like each other they rarely wage wars.
    </p>
    <h3>Prime Demons</h3>
    <p>
      The Abyss is a realm of power and chaos. Only the truly strong can survive in this plane, and the strongest
      of the strongest who reach the top are known as Prime Demons. The rule of Prime Demons is not set in stone
      or absolute, and anyone who wish to can challenge them, though the Prime Demons didn't earn their title without
      sufficient strength to back them up.
    </p>
    <h3>Great Old Ones</h3>
    <p>
      Travel far enough away from all the other planes of existence and you will reach what is known as the outer
      realms. These realms are absurd, they don't follow the same logic or rules of existence as the other planes, and
      beings of these realms can be impossible to understand to someone from the inner realms. The strongest of these
      beings can have their influence reach far within the inner realms simply through existing. Nearly no mortal
      know of them, and there are no known records of them. Even the smallest of fraction of their power can
      change the mind of a mortal, and those who gain powers from them are often changed in terms of their personality
      and how they think and rationalise.
    </p>
    <br>
    <hr>
    <br>
    <h2>Jho'Al'Zuk</h2>
    <p>
      Not much is known about Jho'Al'Zuk. He is the God-King of the Aman of the Alzar desert, and is said to be
      the one who supply the Aman with their magical powers. Many scholars have travelled to Al'Ruv to study
      both the Aman and Jho'Al'Zuk, but as no mortals are allowed to pass the bone wall that seals off the desert
      there's only vague theories being thrown around.
      <br>
      The Aman frequently praise Jho'Al'Zuk for not only giving them blessed life, but also for gifting them with
      the powers of using true magic. This is the reason that Jho'Al'Zuk is being spoken about as something more
      than a regular ruler, as no crystal user, no matter how powerful they are, should be able to create intelligent
      undead to this degree or give them the gift of true magic.
    </p>
    <br>
    <br>
  </div>
</div>
