a{
  font-family: "JSL Ancient";
  font-size:150%;
}

nav{
  background: #bcb298;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}


