<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-main"
    aria-controls="navbar-main"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbar-main"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
        >
          Map
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/history"
        >
          History
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/races"
        >
          Races
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/mechanics"
        >
          Mechanics
        </a>
      </li>
    </ul>
  </div>
</nav>
