<div class="container">
  <h1 class="text-center">
    History of Alaryn
  </h1>
  <div>
    <h2>
      Early history
    </h2>
    <p>
      A lot of history has been lost about the world. Old records, scrolls and books have allowed the scholars of today
      to piece together some of the events that may have happened in the past, but there is still much uncertainty in
      regards to what is true or not.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/LbN4oGJ.jpg"/></div>
    <p>
      The oldest of records state that the world used to be highly populated with humans and elves. Both were races that
      were blessed by the gods; Humans were blessed with resilience and fertility, and elves were blessed with
      longevity. These blessings allowed them to establish great cities and found large kingdoms and empires, and they
      were naturally gifted with the use of magic which further strengthened their civilisations. Their control spanned
      for many miles across several continents, but most indicate that they were based in the northern continent known
      as Laronia. The humans and the elves weren't the only major races on this continent though. The proud orcs
      inhabited the great savannahs, the hardy dwarves in the mountains and the enigmatic gnomes. They were not treated
      well by the mighty and magical humans or elves though. The orcs were enslaved by the humans, oppressed and looked
      upon like less than dirt. The dwarves were very skilled with metalwork and had access to rare metals within their
      mountains, but the magical skills of the elves and humans would surpass the quality that the dwarves could
      produce. As a result they would keep to their fortresses and cities and rarely deal with the arrogant magicians.
      Very little is known about where the gnomes originated from, but record do show that they lived in the same
      regions as the humans and elves. They weren't treated as poorly as orcs, but they were still looked upon as
      sub-creatures compared to the arcane races.
    </p>
    <p>
      A large, world changing event happened several thousands of years ago, but the exact details are yet to be found
      in the records of old. Many sages and researches have pieced together ruined and incomplete logs and pieced
      together a theory that most seem to agree with and believe in. Something the races had done had angered the gods,
      causing them to leave the mortal races to themselves. They took away the blessings from the humans and elves, but
      also stripped the mortal races of their ability to manipulate the arcane energies of the world. The human and
      elven empires would quickly crumble. The orcs would revolt, striking back at those who had enslaved them for
      centuries, or even millenia. The dwarves would also plan to take the human and elven regions from them while they
      would still be recovering from their loss of magic. They would lay detailed and strategic plans, but they took
      a long time to establish a proper assault. By the time they launched their attack the orcs had already taken over
      larger regions of the elves and humans, but they still weren't going to give up on their plans. They had superior
      technology and materials to work with, and would launch their attacks on the orcs while the elves and humans would
      flee from their regions.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/E63KPck.jpg"/></div>
    <p>
      The battle between the orcs and the dwarves was vicious as their side wanted to give up the now freed up regions
      of the arcane races.However the dwarves did indeed have much better technology than the orcs,even if the orcs
      had numbers and unmatched ferocity. The orcs would need to retreat, giving up a lot of territory until the leaders
      of the rebellion were able to launch a strong enough counterattack to drive the dwarves back. Both sides would
      fall back to recuperate, but this would be the start of a never-ending war between the orcs and dwarves. The
      gnomes who had lived in the human and elven regions would not join either side of the war, but rather just
      integrate into the societies that took over the regions they lived in. The gnomes became quite integral for the
      growth of both sides.They were able to travel between the orcish and dwarven regions, opening up black markets
      and secret trading routes. Both orcs and dwarves would make use of these gnomish traders. Many didn't want a war
      and simply wanted to trade, while others used the war as an opportunity to improve their sales.
    </p>
    <p>
      During this period of history, which has been called Post Exodus of the Gods, the races had to make due without
      much forms of magic. Even though the humans and elves had been superior over all other races when it came to
      weaving arcane energies, the other races still had the capabilities in the past, but no longer. Only the most
      devout of the gods would be able to communicate with the deities who had chosen to reside in the background of the
      planes. Still, most races would rely on mundane methods when it came to rebuilding their civilisations and keeping
      order. After many centuries of rebuilding and expanding the orcs and dwarves had taken over most of the old human
      and elven territories. They still were at war with each other, but each side was able to prosper. It is assumed
      that other races of the world were also able to prosper despite losing their arcane abilities, but there are few
      records of this. The only other race which has some form of records from this time period is the race known as
      the Azzinth.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/jSmgloD.jpg"/></div>
    <p>
      The Azzinth are said to be descendants of fiends. The Azzinth themselves don't share their origins with others,
      but it is unsure if that is due to them wanting to protect some important secret or if they just don't know.
      Regardless of their origin they still resemble their assumed fiendish origins; skin in the colours of red, black,
      gray or in rare cases blue, often horns of various shapes and sizes and usually a strong tail. They are said to
      have first appeared in the Azzin desert, but it is uncertain how long ago that was. The Azzinth still have
      enough records to prove that they had a sizable empire when the Exodus first struck and that they also lost
      their arcane abilities when they struck.
    </p>
    <p>
      The Exodus lasted for several centuries, but another world shattering event would also occur. Towards the end of
      the post Exodus era many civilisations would have grown quite large, and technology had advanced by quite a lot.
      While not at the levels of the magical human or elven empires, the orcs and dwarves would have been forces to
      reckon with even for the arcane races.There is however one thing that is common between the orcs, the dwarves and
      the Azzinth. Not many years before the second world changing event, all empires discovered some powerful relics
      that have become known as Magistones. These stones were essentially ley energy given physical shape; pure
      arcane energies laying dormant hidden in several places across the world. All these civilisations would try to
      use or exploit these Magistones, try to regain the arcane abilities that their ancestors were rumoured to have.
      It is not certain what exactly would trigger the next event, but it still happened. Five centuries ago,
      the Magistones exploded, sending out immense destructive arcane waves across the entire realm and nearly
      completely destroying all forms of civilisation.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/BXaBsog.jpg"/></div>
    <br/>
    <br/>
    <h2>
      Current history
    </h2>
    <p>
      Five hundred centuries ago and the world still hasn't recovered to the post Exodus state of prosperity. The
      arcane explosion which had swept across the world became known as the Surge. The explosion itself wasn't what
      was destructive, but the arcane shockwave would affect all in its way. Even though the mortal races had their
      abilities for manipulating arcane energies sealed way the Surge would sear away those latent abilities. This
      would obliterate massive amounts of the world's population. Following the explosion would be a rain of crystals
      from the Magistones.The crystals were charged with powerful energies that would affect the area where they landed.
      Later discoveries would find out that many of these crystals appeared underground too, leading to theories that
      most Magistones must have been beneath the earth.
    </p>
    <p>
      Ironically, the crystals from the Magistones which nearly ended all civilisation would be central in rebuilding
      it.Many of the crystals contained violent and destructive energies, but many were charged with rejuvenation and
      radiance. Technology had advanced quite a lot, especially thanks to the dwarves, before the Surge, and they were
      the pioneers in crystal technology. It was discovered that even though they had their ability to harness any form
      of natural arcane energies seared away they could still use the crystals to replicate magical abilities. Through
      subjecting themselves to these crystals and learning how to arrange the crystals in intricate architectures the
      dwarves became the first of those known as crystalthurges. Using the crystals in this way took a strain on their
      bodies and required great amounts of training to even master the most basic forms of magic. The dwarves, who
      before the Surge were already highly technologically adept were able to integrate the crystals into their weapons
      and armour too, highly amplifying their fighting abilities.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/rWutowt.png"/></div>
    <p>
      The orcs did not have the same technology as the dwarves had before the Surge, but thanks to the gnomish traders
      and black markets a lot of dwarvish technology did flow into the orcish empire. However after the surge a lot of
      this technology was lost to the orcs. While the new dwarvish technology would once again flow into the orcish
      regions thanks to the gnomes, they did find another way to rebuild before the gnomes could reestablish their own
      infrastructure.The crystals could be used to power equipment or arranged in complex structures to replicate magic,
      but the orcs used a more direct approach. They discovered that by embedding crystals directly in their bodies they
      could greatly heighten their natural strengths. This would place a great strain on their bodies and minds, but the
      rewards were immense for those who survived. The crystals gave them different abilities depending on the type;
      some crystals would simply amplify their physical abilities, allowing them to fight the dangerous wildlife with
      ease and build great structures with fewer people, some would link them to nature, letting them nurture the soil
      and establish flourishing agriculture. Some crystals were more unstable, giving the users abilities closer to the
      crystalthurges of the dwarves and like the magicians described in legends of old.
    </p>
    <p>
      The gnomes of the dwarvish and orcish empires were hit just as bad as the other races, but they were still heavily
      integrated into their societies and would assist with rebuilding as much as they can. During the first century
      after the Surge both the orcs and dwarves were too focused on rebuilding what they could, and the gnomes would
      eventually make great use of this temporary peace to easily reestablish the trade routes and markets of old.
      Thanks to gnomish markets and diplomacy the war between the orcs and dwarves would not flare up to the scale of
      Post Exodus era, but the relations between the two sides are still heavily strained.
    </p>
    <p>
      The Azzinth were struck by the Surge too, and the desert was not a kind location for a broken empire. The Azzinth
      were highly resistant to the heat of the region and were able to go for longer without water than most, but with
      the crystal rain amplifying the heat of some regions and wildlife becoming more dangerous they had to flee from
      the city. They build their new settlements on the borders of the desert, and they knew they would need to get into
      contact with other races in these dire times, so they expanded up to the northern coast of their continent. They
      would first get into contact with the dwarven empire and learn the arts of the crystalthurges, but they adapted
      the ways of the orcs when they later made contact with those too.
    </p>
    <div class="text-center"><img width="50%" src="https://i.imgur.com/TXE3CMG.jpg"/></div>
    <p>
      The jungles of the Vulkian archipelago had for ages been savage, untamed wilderness. Pre Surge it was known that
      there lived groups of intelligent races and tribes, but they had never been paid much attention to. It was a
      surprise to most people when the first explorers from the jungles made contact with the other civilisations.
      Though the exact details are still unknown, it seems like the races rapidly evolved during the Post Exodus period,
      and they had even established a city on the coast of the largest island. While the Surge had hit them just as
      hard, they were a resilient people and the Surge seemed to have accelerated their development even further, even
      mutating some of the races. The Vulkians consist of a wide array of people, most populous being the lizardfolk.
      The lizardfolk comes in many sizes from large brutish ones to smaller lilthe ones. The Surge affected several of
      them, giving their scales vibrant, chromatic colours and elemental affinities. Other races involves the energetic
      and curious catfolk and the cunning birdfolk.
    </p>
    <p>
      In the center of all these remerging civilisations lies the Bosgar isles. Before the Surge these isles had been
      a safe landing for pirates, outlaws and exiles, but after the Surge there were very few left. As the races
      made contacts and trade routes with each other, one city would emerge on these islands. Using the ruins of the
      largest pirate town Panther's Rest would emerge. It was first established by gnomes, but being diplomatic and open
      to trade they allowed everyone who wanted a safe place to settle. Turning into a melting pot of the different
      cultures Panther's Rest became a powerful city state that could rival the other empires in influence and power.
      Not only would orcs, dwarves, gnomes, Azzinth and Vulkians gather here, but travellers from far away places of the
      world would make their way there. Even elves would manage to find a place to reside here when they were almost
      thought extinct.
    </p>
    <p>
      The elves are known to have survived and established some forms of settlements in far off places of the world, but
      the humans were long thought extinct. It was a massive shock when an unknown ship sailed in into Panther's Rest
      carrying sentient undead around a century ago. They looked just like humans of the old, but they had husky and
      withered bodies, their skin looking like sun worn leather and their eyes either missing or black orbs in their
      eye sockets. At first they were met with immense resistance from the city state, but they quickly made it clear
      that they were non-hostile and looking for connections with other races. They no longer called themselves human,
      but Aman. The Aman hail from the Alzar desert to the west where their God-King Jho'Al'Zuk had remade the human
      race. Though much is unknown about the Aman and Jho'Al'Zuk, they did come with great wealth and power. To this
      day the Aman are friendly with the other races and cities, though most people view them with suspicion, both
      being undead and not allowing any outsiders into their desert.
    </p>
    <p>
      Even though many of the races are slowly expanding their regions, a lot of the world is unknown or forgotten.
      Very few maps are known, and only the regions around the Bosgar Isles are properly cartographed. All but a few
      of the gods have completely left the realm, and those who remain are not actively interacting with the world and
      its inhabitants. Worship of the gods is highly looked down upon as the gods were the cause of the Surge.
      People who use magic not originating from the crystals are viewed with mistrust, as they either receive their
      powers from the remaining gods, or some other otherworldly entities. But the world is still thriving, and many
      are scouring it to find other civilisations, to discover ruins of long lost empires or to simply expand their
      sphere of influence.
    </p>
  </div>
</div>
