<div class="container">
  <h1 class="text-center">
    Lore of Alaryn
  </h1>
  <h1>History</h1>
  <div>
    <h2>
      Early history
    </h2>
    <p>
      A lot of history has been lost about the world. Old records, scrolls and books have allowed the scholars of today
      to piece together some of the events that may have happened in the past, but there is still much uncertainty in
      regards to what is true or not.
    </p>
    <div class="text-center"><img width="50%" src="../../assets/images/elven_city_1.jpg"/></div>
    <p>
      The oldest of records state that the world used to be highly populated with humans and elves. Both were races that
      were blessed by the gods; Humans were blessed with resilience and fertility, and elves were blessed with
      longevity. These blessings allowed them to establish great cities and found large kingdoms and empires, and they
      were naturally gifted with the use of magic which further strengthened their civilisations. Their control spanned
      for many miles across several continents, but most indicate that they were based in the northern continent known
      as Laronia. The humans and the elves weren't the only major races on this continent though. The proud orcs
      inhabited the great savannahs, the hardy dwarves in the mountains and the enigmatic gnomes. They were not treated
      well by the mighty and magical humans or elves though. The orcs were enslaved by the humans, oppressed and looked
      upon like less than dirt. The dwarves were very skilled with metalwork and had access to rare metals within their
      mountains, but the magical skills of the elves and humans would surpass the quality that the dwarves could
      produce. As a result they would keep to their fortresses and cities and rarely deal with the arrogant magicians.
      Very little is known about where the gnomes originated from, but record do show that they lived in the same
      regions as the humans and elves. They weren't treated as poorly as orcs, but they were still looked upon as
      sub-creatures compared to the arcane races.
    </p>
    <p>
      A large, world changing event happened several thousands of years ago, but the exact details are yet to be found
      in the records of old. Many sages and researches have pieced together ruined and incomplete logs and pieced
      together a theory that most seem to agree with and believe in. Something the races had done had angered the gods,
      causing them to leave the mortal races to themselves. They took away the blessings from the humans and elves, but
      also stripped the mortal races of their ability to manipulate the arcane energies of the world. The human and
      elven empires would quickly crumble. The orcs would revolt, striking back at those who had enslaved them for
      centuries, or even millenia. The dwarves would also plan to take the human and elven regions from them while they
      would still be recovering from their loss of magic. They would lay detailed and strategic plans, but they took
      a long time to establish a proper assault. By the time they launched their attack the orcs had already taken over
      larger regions of the elves and humans, but they still weren't going to give up on their plans. They had superior
      technology and materials to work with, and would launch their attacks on the orcs while the elves and humans would
      flee from their regions.
    </p>
    <div class="text-center"><img width="50%" src="../../assets/images/orc_war_1.jpg"/></div>
    <p>
      The battle between the orcs and the dwarves was vicious as their side wanted to give up the now freed up regions
      of the arcane races.However the dwarves did indeed have much better technology than the orcs,even if the orcs
      had numbers and unmatched ferocity. The orcs would need to retreat, giving up a lot of territory until the leaders
      of the rebellion were able to launch a strong enough counterattack to drive the dwarves back. Both sides would
      fall back to recuperate, but this would be the start of a never-ending war between the orcs and dwarves. The
      gnomes who had lived in the human and elven regions would not join either side of the war, but rather just
      integrate into the societies that took over the regions they lived in. The gnomes became quite integral for the
      growth of both sides.They were able to travel between the orcish and dwarven regions, opening up black markets
      and secret trading routes. Both orcs and dwarves would make use of these gnomish traders. Many didn't want a war
      and simply wanted to trade, while others used the war as an opportunity to improve their sales.
    </p>
    <p>
      During this period of history, which has been called Post Exodus of the Gods, the races had to make due without
      much forms of magic. Even though the humans and elves had been superior over all other races when it came to
      weaving arcane energies, the other races still had the capabilities in the past, but no longer. Only the most
      devout of the gods would be able to communicate with the deities who had chosen to reside in the background of the
      planes. Still, most races would rely on mundane methods when it came to rebuilding their civilisations and keeping
      order. After many centuries of rebuilding and expanding the orcs and dwarves had taken over most of the old human
      and elven territories. They still were at war with each other, but each side was able to prosper. It is assumed
      that other races of the world were also able to prosper despite losing their arcane abilities, but there are few
      records of this. The only other race which has some form of records from this time period is the race known as
      the Azzinth.
    </p>
  </div>
</div>
