<div class="container">
  <h1 class="text-center">Map of Alaryn</h1>
  <div class="text-center">
    <p>
      The world of Alaryn has gone through great changes. Its history can be split up in three major eras. The pre
      Exodus era when the gods walked amongst the mortals, the post Exodus era when the mortals had their magical
      abilities sealed away and only those chosen by the gods were allowed to use magic, and the post Surge era
      when the Magistones which had sealed away the mortals' magic were blown up by the gods and seared away the
      sealed magical abilities of the mortals. Many people blame the humans and elves of the pre Exodus era to
      be the cause of these events, but many people place the blame on the gods themselves. Magic is not gone from
      the world, but only those who use crystals from the shattered Magistones are able to make use of it. There
      are some who are still able to use magic naturally, clerics of the two gods who still remains, warlocks who
      makes pacts with otherworldly entities and the undead Aman whose true source of magic is unknown to the world.
      <br>
      In the center of the current civilisations lies Panther's Rest on the Bosgar Isles, a major city with a blend of
      different races. Surrounding the Bosgar Isles lies the dwarven and orcish nations to the north, the Azzinth
      empire to the south east and the Vulkian Archipelago to the south. The undead Aman have a kingdom in the Alzar
      desert to the west, but no mortals are allowed entry. The wilderness outside of the settlements is highly
      dangerous. Wildlife got changed by the Surge, becoming more feral, powerful and vicious and many regions
      are filled with unstable energies. Not many people venture into these areas willingly, and those who do usually
      use crystals to emulate magic, strengthen their bodies or enhance their equipment.
      <br>
      To the east lies Saber's Dawn, a new settlement built by the leaders of Panther's Rest, a starting point for
      adventurers who wish to explore the deadly wilderness in hopes of finding ancient ruins, magical relics of old,
      treasures lost to the world, other civilisations or other goals!
    </p>
  </div>
  <div class="text-center">
    <iframe src="https://easyzoom.com/embed/4bff7e657e8d4831a5300ba51d0622a7" width="1000px" height="750px"
            frameborder="1" scrolling="no" title="" allowfullscreen style=".toolbar-top{display:none;}">
    <a href="https://easyzoom.com/embed/4bff7e657e8d4831a5300ba51d0622a7" target="_blank"
       title="Alaryn Map">Alaryn Map</a></iframe></div>
</div>
