<div class="container">
  <h1 class="text-center">
    Classes
  </h1>
  <div class="text-center">
    <ul>
      <li>
        <a href="classes#barbarian" target="_self">Barbarian</a>
      </li>
      <li>
        <a href="classes#bard" target="_self">Bard</a>
      </li>
      <li>
        <a href="classes#cleric" target="_self">Cleric</a>
      </li>
      <li>
        <a href="classes#druid" target="_self">Druid</a>
      </li>
      <li>
        <a href="classes#fighter" target="_self">Fighter</a>
      </li>
      <li>
        <a href="classes#monk" target="_self">Monk</a>
      </li>
      <li>
        <a href="classes#paladin" target="_self">Paladin</a>
      </li>
      <li>
        <a href="classes#ranger" target="_self">Ranger</a>
      </li>
      <li>
        <a href="classes#rogue" target="_self">Rogue</a>
      </li>
      <li>
        <a href="classes#sorcerer" target="_self">Sorcerer</a>
      </li>
      <li>
        <a href="classes#warlock" target="_self">Warlock</a>
      </li>
      <li>
        <a href="classes#wizard" target="_self">Wizard</a>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <p>
      The traditional classes of the world have changed quite a bit thanks to the surge. Some classes have a stronger
      presence in some cultures compared to others, and they might be approached with respect, fear or mistrust. Many
      techniques of the old have been adapted to use crystals, spellcasters or not, due to the powers needed to handle
      the wilderness of the post Surge world. Using crystals, be it for physical amplification or spellcasting can be
      very straining on the body, which means that there aren't too manyin the world that are able to truly call
      themselves one of these classes. This page will describe how the most current iterations of the classes
      appeared, how they get their power and in which cultures they are most prominent. That being said, every class
      can be found within every race and that there are exceptions as to how a person got to know and use
      their class too.
    </p>
  </div>
  <br>
  <hr>
  <br>
  <div>
    <h2 id="barbarian">Barbarian</h2>
    <p>
      The barbarians find their roots in orcish culture. When the dwarves focused on using the crystals to enhance their
      equipment, the orcs used the crystals directly on their bodies. It was straining, but the rewards were great. Many
      of the crystals could improve physical strength. It's from these crystals that the barbarians draw their strength.
      <br>
      Many crystals used to enhance physicals strength did just that, but the crystals used by barbarians allow them
      to draw upon much more latent strength. A barbarian can a few times per day enter a stage of peak performance
      which greatly improves their strength. The nature of the crystal and the person using it can change how this
      effect takes shape. Some enters a bloodthirsty state where their primal urges completely take over, some enter
      a calm and focused state where they can utilize their abilities to their utmost, while others have slightly
      magical effects surrounding them.
      <br>
      Due to the strain using these crystals can place on the body and the uncertainty of how the rage will affect each
      person not many people are willing to take the risk. Most barbarians hail from orcish cultures, but there are many
      within dwarvish culture too where their knowledge and understanding of crystals allow them to pick the effects
      they'd like with greater accuracy.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="bard">Bard</h2>
    <p>
      The bards originate from the catfolk of the Vulkians. After the Surge the catfolk gained an innate sense for
      tinkering and craftsmanship, and the most curious and innovative of these catfolk would figure out ways to use
      crystals for showmanship.
      <br>
      The first bards weren't bards who were trained for battle. The catfolk used crystals embedded into their
      instruments and would use them to amplify their performances, creating lights, illusions and other sensory
      effects. Though not intended, some bards were able to figure out that they could tune their crystals to give
      their instruments stronger effects, eventually replicating the spellcasting effects that the crystalthurges of
      the dwarves could make.
      <br>
      The bards are exceedingly rare in the world. The bardic ways of spellcasting with crystal amplified instruments
      is very new, and it has not been picked up by many other races outside of the catfolk due to it being more
      difficult to learn than the arts of a crystalthurge. The exception is the Azzinth, who greatly appreciate
      both magical effects but also aesthetics, making this profession popular amongst them too.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="cleric">Cleric</h2>
    <p>
      The clerics of old are nearly gone together with the gods that left the world. There are only two gods left in
      the world, and with the gods being very passive only the most devout are able to be blessed with their powers.
      However, as the gods were responsible for both the Exodus and the Surge, traditional clerics are very rare
      and very mistrusted as any traditional magic user is. There are still those who are able to use divine magics
      through crystals. They are known as medics and have their roots in dwarvish cultures where they started as a
      subset of crystalthurges.
      <br>
      The clerics who don't draw their power from the gods or Jho'Al'Zuk are known as medics. They started out as
      dwarven crystalthurges who specialised in using crystals charged with divine and positive energies. They use their
      skills by preparing a set of crystals in specific formats which allows them to replicate the divine magics of old.
      Many medics who wish to use stronger abilities often embed crystals similar to the ones they use to further
      amplify their strengths.
      <br>
      Though the medics started out within the dwarvish culture the art has quickly spread to most other cultures due
      to the usefulness. No city will turn away a medic who is able to heal the sick and cure the wounded. Traditional
      clerics are extremely rare. Those that are found are most commonly elves, but there are devout found amongst
      dwarves, orcs and gnomes too. Clerics of the Aman draw their power from Jho'Al'Zuk, but few are certain as to
      how they do that.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="druid">Druid</h2>
    <p>
      The druids originate from the orcish culture. Many of the crystals that they used were charged with divine and
      druidic energies, and they were able to replicate ways of the druids of old.
      <br>
      Most druids embed a crystal into their body that is highly charged with druidic energies. Though this places a
      massive strain on the body, more so than other crystals, those that are able to handle it become naturally more
      in tune with nature. Druids are able to nourish the lands around them and cast spells almost like traditional
      spellcasters. Due to the strain of druidic crystals place on the body most druids need to prepare and limit the
      magic they can use per day. Druids who learn to master this crystal are even able to shapeshift.
      <br>
      The druids originated from the orcs, but many gnomes have quickly adapted to the druidic arts too. The dwarves
      never picked much up on the druidic arts, preferring the ways of the crystalthurge. Though very recent, the
      firbolg have been highly interested in learning the druidic ways and are mastering it at a rapid pace.
    </p>
    <br>
    <br>
    <h2 id="fighter">Fighter</h2>
    <p>
      The modern fighters originate in dwarvish culture. The dwarves always had more advanced technology than their
      neighbours, especially in terms of working with metal, and when they discovered the power resting inside the
      crystals they were quick to implement that power into their equipment. Swords, axes and maces became more forceful
      when swung, bows shot arrow at higher velocities, but the greatest innovation was their change to crossbows.
      Instead of using a traditional loading method similar to bows, they used crystals to eject the bolts at great
      effect.
      <br>
      Many people learn how to fight, but only the ones who amplify their fighting style with crystals are truly able
      to call themselves fighters. The dwarves trained to get used to crystal strengthened equipment and were able to
      reach higher heights than they had ever reached. Many other races quickly picked up on how to amplify their own
      equipment, but there were those who decided to use crystals directly on their bodies, especially the orcs.
      <br>
      To this day many fighters use a hybrid of fighting with crystal equipment and amplified bodies, but there are
      also many purists of either side, especially dwarves and orcs.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="monk">Monk</h2>
    <p>
      The monks originate from dwarvish culture. Using crystals to directly amplify the body was something that was most
      common within orcish culture, but there was a group of dwarves who through careful study figured a way to amplify
      their body while placing minimal strain on it.
      <br>
      The monks use crystals to amplify their abilities in similar ways that many fighters and barbarians do, but
      to lessen the strain on the body they go into disciplined training where they train their abilities in traditional
      ways while slowly adjusting to the powers of the crystals they use. Some monks focus more on drawing the most
      power out from their crystals while others simply lean on them while improving their own skills through practice
      alone.
      <br>
      Most monks are dwarves, but there are monks who have set up monasteries elsewhere in the world. Though you won't
      find a dwarven monastery in orcish territory, there are monks being trained in Panther's Rest.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="paladin">Paladin</h2>
    <p>
      Paladins are in many ways similar to fighters, where they use crystals to amplify both their equipment and
      bodies. However the crystals that paladins use are similar to the ones medics used where they are charged with
      positive and radiant energies. The first modern paladins originated in Panther's Rest.
      <br>
      A paladin often starts training to be a fighter, but instead of using the purely physically amplifying crystals
      they use radiant crystals. By using a combination of these crystals and crystal enhanced weapons they are
      able to smite enemies with blasts of energy while also being able to replicate some spells like a medic does.
      There are paladins who use other kinds of crystals, sometimes using more druidic crystals, but there are also
      those who use necrotic or negative crystals. These paladins can be just as strong as the positive paladins, but
      they are usually more feared due to the nature of their powers.
      <br>
      As the first paladins have their roots in Panther's Rest, there is no specific race or culture where paladins are
      extremely prominent over others, but positive paladins are a bit more common amongst dwarves where the medics
      have their roots, while the negative paladins are slightly more prominent amongst the Azzinth.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="ranger">Ranger</h2>
    <p>
      Being a ranger was highly common before both the Exodus and Surge, but the modern rangers have their roots amongst
      the Vulkians. The jungles of the Vulkian Archipelago where always dangerous even before the Surge, but the Surge
      made it very lethal even for the natives. When they learned from the other races about using crystals to amplify
      both body and weapons, they combined the skills learned from the dwarvish fighters and orcish druids, and combined
      it into their own style to handle the jungles.
      <br>
      Many ranger employ different styles. Some focus more on training and using amplified weapons while others placed
      a greater trust in the druidic crystals. Regardless of their methods, the Vulkian rangers have become much more
      adept at traversing the wilderness. Other races saw how the Vulkians employed this combined style, and many would
      learn from them.
      <br>
      Rangers are most commonly found amongst the Vulkians, but many gnomes and orcs have quickly picked up on the
      ranger ways.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="rogue">Rogue</h2>
    <p>
      It's uncertain where the first modern rogues originate from. Thieves, thugs, assassins and the like have always
      existed, and both the Exodus and the Surge wouldn't stop these trades. Due to the uncertainty surrounding them
      most believe them to originate from Panther's Rest.
      <br>
      Rogues get their skills in similar ways that fighters do. They use crystal amplified weaponry and equipment, and
      some apply them directly to their bodies. The main difference is what they amplify. While fighters strive to
      reach a peak performance of physical strength, the rogues specialise and focus on their nimbleness, finesse and
      wit. As a result many of the modern rogues still occupy the same roles as the rogues of old.
      <br>
      Rogues are most commonly found amongst gnomes and birdfolk.Both races are adept when it comes to subterfuge and
      diplomacy, and the skills of a rogue greatly amplify their abilities. However, just as thieves, assassins and
      scoundrels have existed in every place of the world through history, rogues can be found amongst all cultures.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="sorcerer">Sorcerer</h2>
    <p>
      The sorcerers originate from the orcs. The orcs where the first to use crystals to amplify their bodies, and
      many of these crystals gave them innate abilities to cast spells. The crystals comes in many variants of different
      energies.
      <br>
      Sorcerers can be a wild card. Many sorcerers are uncertain what skills they will get when they take use of their
      first crystal, and some sorcerers are people who had planned to become barbarians, fighter, paladins or something
      else that uses crystals to amplify themselves, but they misjudged what crystal to use. Some crystals amplify
      their bodies, some crystals are unstable amplifying their already unstable nature, while others are more in tune
      with certain elements. What is common amongst all sorcerers is that they are forces to be reckoned with.
      <br>
      Even though sorcerers originated from the orcs, they have taken a deeper root amongst the Azzinth. The orcish
      sorcerers often became so through accident, while the Azzinth embrace the magical and wild nature.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="warlock">Warlock</h2>
    <p>
      Warlocks don't use crystals for their magic. Often longing for true magical skills, warlocks are those who have
      made pacts with otherworldly creatures. The warlocks do not originate from a certain culture, they have existed
      through all of history, long before the Exodus occured.
      <br>
      As warlocks draw powers from otherworldly powerful entities, they are able to cast true magic. The nature of how
      their magic takes form varies greatly depending on the entity they made a pact with, but what is true for all
      warlocks is that they are feared and mistrusted amongst most people, just like clerics who gain their powers
      from gods or the wizards of the Aman.
      <br>
      Warlocks are most prominent amongst the Azzinth and Aman. While not truly common amongst either races, the
      Azzinth generally have a greater longing for magic and fall onto the arcane arts regardless of their origin.
      The warlocks of Aman usually gain their power from Jho'Al'Zuk, but there are those who gain their magic from
      other entities. These warlocks are usually outcasts amongst the Aman.
    </p>
    <br>
    <hr>
    <br>
    <h2 id="wizard">Wizard</h2>
    <p>
      The wizards are some of the first spellcasters that surfaced after the Surge. The dwarves were quickly able to
      figure out how to use the crystals to replicate magic, and the dwarvish wizards became known as crystalthurges.
      <br>
      The crystalthurges are able to use crystals to replicate spellcasting without placing a huge strain on their
      bodies like sorcerers or druids do. Crystalthurges gather up crystals of various energies and arrange them in
      complex structures that take a long time to learn, and later can unleash these crystals turning their energies
      into spells and other magical effects. Crystalthurges keep their arrangements in specially crafted vessles that
      were made with dwarvish technology. Though this use of crystals won't place a strain on the body of the
      crystalthurge, the arrangements need time to recharge after being spent.
      <br>
      Crystalthurges are most common in dwarvish culture, but the trades have been adopted by other races. The gnomes
      and Azzinth quickly took to the crystalthurges ways of manipulating crystals. The Aman usually don't use crystals
      as they are able to cast spells like a wizard traditionally would, but these wizards are highly feared or loathed.
    </p>
    <br>
    <br>
  </div>
</div>
